.index-title {
  font-family: 'Open Sans', serif;
  font-size: 2.2em;
  font-weight: bold;
  position: relative;
  margin-bottom: 0px;
  color: #601710;
}

#index-line {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
