.top-bar-section li,
.top-bar {
  padding: 0px;
  background-color: #601710;

  a {
    color: #f5e2b3;
  }

  ul {
    background-color: #601710;

    .avatar {
      vertical-align: middle;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

.title {
  font-family: 'Euphoria Script', sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-left: 10%;
}

.top-bar-section li {
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
}

.top-bar-section {
  margin-right: 3%;
}

.button {
  background-color: #601710;
  color: #f5e2b3;
  border-radius: 5px;
  border-width: 0px;
  font-family: 'Euphoria Script', sans-serif;
  font-size: 1em;
  font-weight: 600;
}
