.top-bar-section li,
.top-bar{
  a {
    color: white;
  }
  padding: 0px;
  background-color: #601710;
}

.title{
  font-family: 'Euphoria Script', sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-left: 10%;
}

.top-bar-section li{
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
}

.top-bar-section {
  margin-right: 3%;
}

.flash{
  padding-right: 20px;
  padding-top: 5px;
  text-align: right;
}
