.top-bar-section li,
.top-bar{
  a {
    color: white;
  }
  background-color: #601710;
}

.top-bar-section li{
  list-style-type: none;
}

.flash{
  padding-right: 20px;
  padding-top: 5px;
  text-align: right;
}
